.cart {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    position:relative;
    z-index: 1;
}

.addStylesCart:active {
    background: linear-gradient(114.93deg, #93c09d 5.11%, #8fbc95 94%);
}

.addStylesCart:hover {
    box-shadow: 0px 0px 20px #618967;
}

.cart__title {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addStylesTitle {
    color: #fff;
}
.cart__items {
    font-size: 14px;
    font-weight: 600;
    width: 30%;
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.cart__count {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #403C3B;
    font-weight: 700;
    color: #fff;
}

.cart__imageContainer {
    display: none;
}

.cart__image {
    display: none;
}

@media (max-width: 843px) {
    .cart {
      order: 2;
      min-width: 62px;
      height: 56px;
      flex-direction: column;
      justify-content: space-between;
      padding: 6px;;
    }

    .cart__title {
        order: 2;
        border-right: none;
        font-size: 12px;
        height: 40%;
        width: 100%;
    }

    .cart__imageContainer {
        min-width: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .cart__image {
        display: block;
        padding-bottom: 3px;
    }

    .cart__count {
        display: none;
    }
    
}