.cart {
    min-width: 149px;
    height: 52px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    position:relative;
    z-index: 1;
}

.cart__title {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.cart__items {
    font-size: 14px;
    font-weight: 600;
    width: 30%;
    display: flex;
    justify-content: center;
}

.cart__count {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #403C3B;
    font-weight: 700;
}

.cart__image {
    display: none;
}

@media (max-width: 843px) {
    .cart {
      order: 2;
      min-width: 62px;
      height: 56px;
      flex-direction: column;
      justify-content: space-between;
      padding: 6px;
    }

    .cart__title {
        order: 2;
        border-right: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 12px;
        height: 40%;
        width: 100%;
    }

    .cart__image {
        display: block;
    }

    .cart__count {
        display: none;
    }
    
}