.nav{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 29px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    flex-wrap: wrap;
}

.nav__item {
    font-weight: 600;
    font-size: 18px;
    color: #CFCFCF;
    padding: 29px 0;
    position: relative;
    transition: .4s linear all;
}

.nav__item_active {
    position: relative;
}

.nav__item_active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #618967;

}

.nav__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #618967;

}

.nav__item:hover {
    font-weight:600;
    color: #f2f2f2;
}

.nav__item:hover::before {
    transition: .6s;
    width: 100%;
}

@media (max-width: 1204px) {
    .nav__item {
        font-size: 16px;
    }
}

@media (max-width: 1044px) {
    .nav__item {
        padding: 5px;
    }
}