.delivery__block {
    width: 618px;
}

.delivery__item {
    margin-bottom: 20px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    overflow: hidden;
}

.delivery__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
}

.item__title__text {
    font-size: 17px;
    font-weight: 600;
}

.delivery__change_in {
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-top: none;
    border-left: none;
    transform: scaleX(1.2) rotate(45deg);
    transition: all .2s ease-in-out;
}

.delivery__change__out {
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-top: none;
    border-left: none;
    transform: scaleX(1.2) rotate(-135deg);
    transition: all .2s ease-in-out;
}

.delivery__text__openly {
    padding: 15px 10px 10px 10px;
    max-height: 300px;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.delivery__text__close {
    max-height: 0;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}