.page__container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 30px 0;
}

.backContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .backArrow {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
        position: relative;
    }

    .backArrow::before {
        content: '';
        position: absolute;
        top: calc(50% - 4px);
        left: calc(50% - 4px);
        width: 7px;
        height: 7px;
        border: 2.5px solid #fff;
        border-top: none;
        border-right: none;
        transform: rotate(45deg);
    }


    .goBack {
        color: #fff;
        font-weight: 600;
        position: relative;

        &:hover {
            color: #CFCFCF;
        }
    }

}



.product {
    max-width: 1190px;
    display: flex;
    height: 389px;
    margin-top: 20px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;

    .product__imageBlock {
        width: 600px;
        height: 100%;

        .image {
            width: 100%;
            height: 100%;
            border-radius: 10px 0px 0px 10px;
        }
    }

    .product__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .product__titleContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 36px 0 0 50px;
            gap: 5px;

            .product__title {
                color: #fff;
                font-weight: 700;
                font-size: 25px;
            }

            .product__description {
                font-weight: 500;
                width: 411px;
                color: #CFCFCF;
                font-size: 14px;
            }
        }

        .orderInfo {
            display: flex;
            flex-direction: column;
            .buyContainer {
                padding-left: 50px;
                width: 270px;

                .cartCount {
                    top: -20px;
                    left: -20px;

                }

                .product__weigth {
                    color: #fff;
                    font-size: 15px;
                }
            }
           
            .product__composition {
                margin-top: 20px;
                display: flex;
                padding: 0px 0px 25px 50px;
                gap: 50px;
                font-size: 13px;


                .composition__block {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: #fff;

                    .composition__count {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}